#projects {
    width: 100%;

    margin-top: 4rem;
    margin-bottom: 10rem;
}

#slider-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scrollbar-width: none;

    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

#slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    object-fit: cover;

    width: 1080px;
}

.slide-1 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.slide-6 {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;


}

#slider-nav a {
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 0.25s;

}

#slider-nav a::after {
    content: "";
    position: absolute;
    inset: -10px;
}


#slider-nav a:hover {
    opacity: 1;
}

/*mobile css*/
@media (max-width: 768px) {
    #slider-wrapper {
        width: 87%;
    }

    #slider-nav a,
    #slider-nav a::after,
    #slider-nav {
        display: none !important;
    }

}