
.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    font-size: var(--xlfs);
    font-weight: bold;
}

#experience .title {
    width: 100%;
    align-items: center;
    text-align: center;
}

.text {
    width: 60%;
    font-size: var(--xlfs);
    text-align: right;
}

#information, #experience {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 80%;
    background-color: var(--fg);

    box-shadow: rgb(255 255 255 / 0.2) 0 2px 4px, rgb(246 246 246 / 0.15) 0 7px 13px -3px, rgb(243 243 243 / 0.05) 0 -3px 0 inset;
    padding: 1rem;

    margin: 2rem auto 2rem;
    border-radius: 2rem;

    letter-spacing: -2px;
}

#information:hover, #experience:hover {
    transition: ease-in 0.12s;
    transform: scale(1.05);
}

#information:not(:hover),
#experience:not(:hover) {
    transition: ease-out 0.12s;
}

#experience {
    flex-direction: column;
    align-items: center;
}

#pfp {
    border-radius: 50%;
    width: 50%;
    object-fit: contain;
}

#experience-container {
    min-height: 25rem;
    width: 100%;
    background-color: var(--accent);
    border-radius: 0.5rem;
    padding: 2rem;
}

.experience-bars{
    width: 90%;
    height: 1rem;
    background-color: var(--fg);
    border-radius: 0.5rem;

}

#html-bar {
    width: 50%;
    height: 100%;
    background-color: var(--accent);
    border-radius: 0.5rem;
}

/*mobile css*/
@media (max-width: 768px) {
    #pfp {
        width: 100%;
    }
}