
html {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    scrollbar-width: none;
    scrollbar-color: #ececec transparent;
    margin: 0;
    padding: 0;
    cursor: none;


}

body {
    margin: 0;
    padding: 0;

    transition: background-color .25s, color .2s;

}

html, body {
    height: 100%;

}


* {
    box-sizing: border-box;
    cursor: none;
}

img {
    user-select: none;
    pointer-events: none;
}

i {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    * {
        cursor: auto !important;
    }

}