/*font*/
@font-face {
    font-family: "JetbrainsMonoNF";
    src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Dotimpact";
    src: url("../fonts/MPF-DOTIMPACT.ttf") format("truetype");
}

:root {

    /*font*/
    --primary-font: "JetbrainsMonoNF", monospace;
    --secondary-font: "Dotimpact", monospace;

    /*font sizes*/
    --smallfs: clamp(0.75rem, 1.5vw, 0.875rem);
    --mediumfs: clamp(0.875rem, 2vw, 1rem);
    --largefs: clamp(1rem, 2.5vw, 1.25rem);
    --xlfs: clamp(1.25rem, 3vw, 2rem);
    --xxlfs: clamp(2rem, 6vw, 6rem);

    /*colors*/

    --fg: #101112;
    --bg: #0d0e0e;

    --text: #fff;
    --navbar: rgb(0 9 12 / 0.8);

    --accent: #ff355e;
    --accent-alt: rgb(176 176 176 / 0.9);

}

:root[data-theme="light"] {

    --bg: #ffffff;
    --fg: #131315;

    --text: #000000;


}