/*font*/
@font-face {
    font-family: "JetbrainsMonoNF";
    src: url("../fonts/JetBrainsMonoNerdFont-Regular.woff2") format("woff2"),
    url("../fonts/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Dotimpact";
    src: url("../fonts/MPF-DOTIMPACT.woff2") format("woff2"),
    url("../fonts/MPF-DOTIMPACT.ttf") format("truetype");
    font-display: swap;
}

:root {
    /*cursor*/
    --cursor-size: 24px;
    --cursor-color: #ffffff;

    /*font*/
    --primary-font: "JetbrainsMonoNF", monospace;
    --secondary-font: "Dotimpact", monospace;

    /*font sizes*/
    --smallfs: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
    --mediumfs: clamp(0.875rem, 0.85rem + 0.2vw, 1rem);
    --largefs: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
    --xlfs: clamp(1.25rem, 1rem + 1.1vw, 2rem);
    --xxlfs: clamp(5rem, 3.9rem + 5.7vw, 9rem);

    /*colors*/
    --bg: #000000;
    --fg: #0c0c0c;
    --fg-alt: #141414;

    --text: #ffffff;
    --navbar: rgb(16 16 16 / 0.75);

    --accent-1: rgb(228 166 255 / 0.7);
    --accent-2: #b43cdc;
    --accent-3: #bb7ce1;

    --box-shadow: rgba(255, 255, 255, 0.18) 0px 2px 3px;
}

:root[data-theme="light"] {

    --cursor-color: #000000;

    /*colors*/
    --bg: #ffffff;
    --fg: #f3f3f3;
    --fg-alt: #ebebeb;

    --text: #000000;
    --navbar: rgb(239 239 239 / 0.75);

    --accent-1: rgb(27 89 0 / 0.7);
    --accent-2: #4bc323;
    --accent-3: #5ad033;

    --box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 3px;
}