/*font*/
@font-face {
    font-family: "JetbrainsMonoNF";
    src: url("../fonts/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Dotimpact";
    src: url("../fonts/MPF-DOTIMPACT.ttf") format("truetype");
}

:root {
    /*cursor*/
    --cursor-size: 24px;
    --cursor-color: #7bf7ff;


    /*font*/
    --primary-font: "JetbrainsMonoNF", monospace;
    --secondary-font: "Dotimpact", monospace;

    /*font sizes*/
    --smallfs: clamp(0.75rem, 1.5vw, 0.875rem);
    --mediumfs: clamp(0.875rem, 2vw, 1rem);
    --largefs: clamp(1rem, 2.5vw, 1.25rem);
    --xlfs: clamp(1.25rem, 3vw, 2rem);
    --xxlfs: clamp(5rem, 9vw, 9rem);

    /*colors*/
    --bg: #0a0b0d;
    --fg: #0f1011;

    --text: #e2dfda;
    --navbar: rgb(8 9 10 / 0.75);

    --accent: #ff355e;
    --accent-alt: rgb(176 176 176 / 0.9);

}

:root[data-theme="light"] {
    --bg: #f5f5f4;
    --bg-alt: #e8e7e5;

    --fg: #ffffff;
    --fg-alt: #ececea;

    --text: #1a1a1a;

    --navbar: rgb(255 255 255 / 0.8);

    --accent: #c0392b;
    --accent-alt: #e74c3c;

}

@media (max-width: 768px) {
    :root {
        --cursor-size: 0;

    }

}