
#experience {
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#experience-container {
    width: 100%;
    background-color: var();
    border-radius: 0.5rem;
    padding: 1.2rem;
}

.experience-bars {
    position: relative;
    width: 90%;
    height: 1rem;
    background-color: var(--fg-alt);
    border-radius: 0.5rem;
    margin: 0.8rem;

}

.bar {
    background-color: var(--accent-3);
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.percentage {
    position: relative;
    margin: 0 auto;
    font-size: var(--smallfs);
    border-radius: 0.5rem;
}