nav {
    position: fixed;
    z-index: 999;
    padding: 0 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;

    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    background-color: var(--navbar);
    font-family: var(--primary-font);
}

#theme-switcher {
    justify-self: start;
    width: 2rem;
}

#navigation {
    display: flex;
    margin: 0 auto;
    letter-spacing: 20px;
    justify-content: center;
}

#github {
    display: flex;
    font-weight: bold;
    justify-content: end;
    justify-items: end;
}

#github-icon {
    line-height: 1;
    font-size: var(--largefs);
}

/*mobile css*/
@media (max-width: 768px) {

    nav {
        position: sticky;
    }

    #github-name {
        position: absolute;
        display: none;
    }

    #github-icon {
        line-height: normal;
        justify-content: end;
    }
}