nav {
    position: fixed;
    z-index: 999;
    padding: 0 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;

    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    background-color: var(--navbar);
    font-family: var(--primary-font);

}

#theme-switcher {
    justify-self: start;
    width: 2rem;
}

#navigation {
    display: flex;
    margin: 0 auto;
    letter-spacing: 20px;
    justify-content: center;

}

#github {
    justify-self: end;
    line-height: 1;
}

#github-icon {
    font-size: var(--largefs);
    margin-right: .5rem;
}


/*mobile css*/
@media (max-width: 768px) {

    .nav-link {
        display: none;
    }

    #github-name {
        display: none;
    }

    #github-icon, #theme-switcher {
        margin: 0;
    }


}